<footer class="site-footer">
  <div id="footerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
          <h4>Contact Us</h4>
          <div class="hline-w"></div>
          <a class="btn btn-success" href="mailto:motionsquaremusic.th@gmail.com">motionsquaremusic.th@gmail.com</a>
        </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <h4>Social Links</h4>
  		 			<div class="hline-w"></div>
  		 			<p>
  		 				<a href="https://www.facebook.com/pages/Motion-Square-Music/1041806285849455"><i class="fa fa-facebook"></i></a>
  		 				<a href="https://vimeo.com/user39841746"><i class="fa fa-vimeo-square"></i></a> 
              <a href="https://www.youtube.com/channel/UCHHw1YTxQGwxZIj6JoBFQ_A"><i class="fa fa-youtube"></i></a>
  		 			</p>
          </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
              <h4>Subscribe</h4>
              <div class="hline-w"></div>
              <div id="mc_embed_signup">
                <form action="http://motionsquaremusic.us3.list-manage1.com/subscribe/post?u=7e6e5e435a36bf94e237157f3&amp;id=96565976df"
                      method="post"
                      id="mc-embedded-subscribe-form"
                      name="mc-embedded-subscribe-form"
                      class="form-inline"
                      target="_blank"
                      novalidate="">
                  <div class="form-group">
                    <label for="mce-EMAIL"></label>
                      <input type="email" value="" name="EMAIL" class="form-control email" id="mce-EMAIL" placeholder="Enter email address" required="">
                      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                      <div style="display:none">
                        <input type="text" name="b_7e6e5e435a36bf94e237157f3_96565976df" value="">
                      </div>
                  </div>
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-info">
                </form>
              </div>
            </div>
        </div><!--/row -->
    </div><!--/container -->
</div>
</footer>


