/*********************************************
	Global elements override
**********************************************/

@media (min-width: 768px) and (max-width: 991px) {
  #blue { margin-top: 100px; }
}

@media (max-width: 300px) {
  #blue { margin-top: 100px; }
}

/* Utilities */

.no-padding           {  padding: 0     !important; }
.no-margin            {  margin:  0     !important; }
.width-fullcontainer  {  width:   100%  !important; }


/*********************************************
  THAI FONTS + FONT OVERRIDING
**********************************************/


/* Thai fonts */
/* TH Saraban new by SIPA */

@font-face{
  font-family: 'saraban';
  src:
    url('../fonts/THSarabunNew.ttf') format('truetype'),
    url('../fonts/THSarabunNew-Bold.ttf') format('truetype'),
    url('../fonts/THSarabunNew-BoldItalic.ttf') format('truetype'),
    url('../fonts/THSarabunNew-Italic.ttf') format('truetype');
}

/* Quark Thai font by Typomancer */

@font-face{
  font-family: 'quark';
  src:
    url('../fonts/Quark-Bold.otf') format('opentype'),
    url('../fonts/Quark-Light.otf') format('opentype');
}

/* FONTS */

h1, h2, h3, h4, h5, h6 {
  font-family: 'saraban', sans-serif;
  font-weight: bolder;
}

h1 {  font-size: 48px !important; }  
h2 {  font-size: 40px !important; }  
h3 {  font-size: 36px !important; }  
h4 {  font-size: 32px !important; }  
h5 {  font-size: 28px !important; }  
h6 {  font-size: 26px !important; }  

p {
  font-family:    'saraban', sans-serif;
  font-weight:    normal;
  font-size:      20px !important;
  line-height:    26px;
  letter-spacing: 0.4px;
  color:          #384452;

  padding:        0;
  margin-top:     10px;
  margin-bottom:  10px;
}

a {
  font-family:  'saraban', sans-serif;
  font-size:    20px;
  font-weight:  bolder;
  text-decoration:  none;
  padding:  0;
  margin:   0;
  
  -webkit-transition: background-color .4s linear, color .4s linear;
  -moz-transition:    background-color .4s linear, color .4s linear;
  -o-transition:      background-color .4s linear, color .4s linear;
  -ms-transition:     background-color .4s linear, color .4s linear;
  transition:         background-color .4s linear, color .4s linear;
}

a:hover, a:focus {
  text-decoration: none;
  color:#01b2fe;
}

input[type=submit],input[type=text],input[type=email] {
  font-family:  'saraban', sans-serif;
  font-size:    20px;
}

/* Quote section */

#quote h1,#quote h2,#quote h3,
#quote h4,#quote h5,#quote h6 {
  font-family: 'quark', sans-serif;
  font-weight: bold;
}

#quote p, #quote small {
  font-family: 'quark', sans-serif;
  font-weight: light;
}

/* ORIGINAL THEME OVERRIDE */

.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
  color: #00b3fe;
}

.navbar-brand {
  font-family: 'saraban', sans-serif;
  font-weight: 900;
  font-size: 30px !important;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-weight: bolder;
    font-size: 20px;
}

/* BOOTSTRAP OVERRIDE */

.btn {  font-size: 20px;  }
.form-group input[type=email] {  height: 100%;  }





/*********************************************
	Homepage
**********************************************/


.laptop-teaser {
  padding: 0;
  border:15px solid #000;
  border-radius: 15px !important;
}


/*GRID ITEM: music collection GRID*/

  .musiccollection{
    position: relative;
    overflow: hidden;
    display: inline-block;
    z-index: 0;

    transition: all 1s ease-in-out;
  }

.musiccollection .musiccollection-text{
  position: absolute;
  bottom: 0;
  z-index: -1;
}
  .musiccollection:hover .musiccollection-text{
    z-index: 1;
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    line-height: 10;
    text-align: center;
    font-size: 36px;
    color:rgb(37, 93, 118);

    background: #ffffff;
    opacity: .8;
  }

  /* music collection modal*/

  #portfolio-modal-infographics,
  #portfolio-modal-altrock,
  #portfolio-modal-altrock{
    display: none; 
  }


/* service icon */

#service i {
  color: #00b3fe;
  font-size: 60px;
  padding: 15px;

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}


#service i:hover{
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}


/*********************************************
	SHOWCASE
**********************************************/


/* CAROUSEL OVERRIDE */

#showcase-carousel {
  width:    100%;
  height:   500px;
  overflow: hidden;
}

	.carousel-image {
    width:  100%;
    margin: 0 auto;
	}





/*********************************************
	ABOUTUS
**********************************************/


.about-image{
  display: inline-block;
  overflow: hidden;
  opacity: 1;

  transition: all .2s ease-in-out;

}

.about-image:hover{
  background: #ffffff;
  opacity: .75;
}





/*********************************************
  BLOGS & SINGLE BLOGS
**********************************************/


aside>div { margin-bottom: 20px; }


.post-meta a:hover { color:#ffffff; }





/*********************************************
  TAG LISTING PAGE
**********************************************/


.post-by-tag ul li { margin-left: 20px; }