/*********************************************
  Global 
**********************************************/

@media (min-width: 768px) and (max-width: 991px) {
  #blue {
    margin-top: 100px;
  }
}

@media (max-width: 767px) { }
@media (max-width: 300px) {
  #blue {
    margin-top: 100px;
  }
}

.no-padding { padding: 0 !important;  }
.no-margin  { margin: 0 !important;   }
.width-fullcontainer {  width: 100% !important}


/* BOOTSTRAP OVERRIDE*/

.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
  color: #00b3fe;
}





/*********************************************
  Homepage
**********************************************/


.laptop-teaser {
  padding: 0;
  border:15px solid #000;
  border-radius: 15px !important;
}


  /*GRID ITEM: music collection GRID*/

  .musiccollection{
    position: relative;
    overflow: hidden;
    display: inline-block;
    z-index: 0;

    transition: all 1s ease-in-out;
  }

.musiccollection .musiccollection-text{
  position: absolute;
  bottom: 0;
  z-index: -1;
}
  .musiccollection:hover .musiccollection-text{
    z-index: 1;
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    line-height: 10;
    text-align: center;
    font-size: 36px;
    color:rgb(37, 93, 118);

    background: #ffffff;
    opacity: .8;
  }

    /* music collection modal*/

    #portfolio-modal-infographics,
    #portfolio-modal-altrock,
    #portfolio-modal-altrock{
        display: none;
    }


/* service icon */

#service i {
    color: #00b3fe;
    font-size: 60px;
    padding: 15px;
}


#service .service-item:hover{
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}





/*********************************************
  ABOUTUS
**********************************************/


.about-image{
  display: inline-block;
  overflow: hidden;

  -webkit-filter: brightness(.8);
  -moz-filter: brightness(.8);
  filter: brightness(.8);
  
  /*  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;*/

  transition: filter .25s ease-in-out;
}

.about-image:hover{

  -webkit-filter: brightness(1.2);
  -moz-filter: brightness(1.2);
  filter: brightness(1.2);


/*  -webkit-animation-name: brighten;
  -moz-animation-name: brighten;
  animation-name: brighten;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;

  -webkit-animation-iteration-count :infinite;
  -moz-animation-iteration-count :infinite;
  animation-iteration-count :infinite;*/
  
/*  -webkit-filter: brightness(1.2);
  -moz-filter: brightness(1.2);
  filter: brightness(1.2);*/
}

/*


@-webkit-keyframes brighten{
  from  { -webkit-filter: brightness(.8);   }
  to    { -webkit-filter: brightness(1.2);  }
}

@-moz-keyframes brighten{
  from  { -moz-filter: brightness(.8);   }
  to    { -moz-filter: brightness(1.2);  }
}

@keyframes brighten{
  from  { filter: brightness(.8);   }
  to    { filter: brightness(1.2);  }
}
*/





/*********************************************
  SHOWCASE
**********************************************/


/* CAROUSEL OVERRIDE */

#showcase-carousel {
  width:    100%;
  height:   500px;
  overflow: hidden;
}

  .carousel-image {
    width:  100%;
    margin: 0 auto;
  }

@media (max-width: 991px) {
  #showcase-carousel {
    max-width:100%;
    height:inherit;
    overflow:hidden;
  }

  .carousel-image {
    width: 100%;
    margin: 0 auto;
  }
}