/*********************************************
	Global elements override
**********************************************/


/* Utilities */

.no-padding           {  padding:       0     !important; }
.no-margin            {  margin:        0     !important; }
.no-margin-top        {  margin-top:    0     !important; }
.no-margin-right      {  margin-right:  0     !important; }
.no-margin-bottom     {  margin-bottom: 0     !important; }
.no-margin-left       {  margin-left:   0     !important; }

.width-fullcontainer  {  width:         100%  !important; }

.shadow-image         {  box-shadow: 1px 1px 5px #000000; }


/*********************************************
  THAI FONTS + FONT OVERRIDING
**********************************************/


/* Thai fonts */
/* TH Saraban new by SIPA */

@font-face{
  font-family: 'saraban';
  src:
    url('../fonts/THSarabunNew.ttf') format('truetype'),
    url('../fonts/THSarabunNew-Bold.ttf') format('truetype'),
    url('../fonts/THSarabunNew-BoldItalic.ttf') format('truetype'),
    url('../fonts/THSarabunNew-Italic.ttf') format('truetype');
}

/* Quark Thai font by Typomancer */

@font-face{
  font-family: 'quark';
  src:
    url('../fonts/Quark-Bold.otf') format('opentype'),
    url('../fonts/Quark-Light.otf') format('opentype');
}

/* Quark Thai font by Cadson Demak */

@font-face{
  font-family: 'cadson';
  src:
    url('../fonts/Kanit-ExtraLight.ttf') format('truetype'),
    url('../fonts/Kanit-ExtraLightItalic.ttf') format('truetype'),
    url('../fonts/Kanit-Medium.ttf') format('truetype'),
    url('../fonts/Kanit-MediumItalic.ttf') format('truetype'),
    url('../fonts/Kanit-SemiBold.ttf') format('truetype'),
    url('../fonts/Kanit-SemiBoldItalic.ttf') format('truetype');
}


.font-override_quark * { font-family: 'quark', sans-serif; }

.font-override_saraban * { font-family: 'saraban', sans-serif; }

.font-override_cadson * { font-family: 'cadson', sans-serif; }

/*********************************************
  HEADINGS, p, a, input
**********************************************/

html {font-size: 1em;}

body {
  background-color: white;
  font-family: 'cadson', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p, a  {
  font-family: 'cadson', sans-serif;
  margin-bottom: 1.3em;
  letter-spacing: 0.4px;
  color:          #121c1e;
  padding:        0;
}

a {
  padding:  0;
  margin:   0;
  -webkit-transition: background-color .4s linear, color .4s linear;
  -moz-transition:    background-color .4s linear, color .4s linear;
  -o-transition:      background-color .4s linear, color .4s linear;
  -ms-transition:     background-color .4s linear, color .4s linear;
  transition:         background-color .4s linear, color .4s linear;
}

a:hover, a:focus {
  text-decoration: none;
  color:#01b2fe;
}


input[type=submit],input[type=text],input[type=email] {
  font-family:  'cadson', sans-serif;
  font-size:    20px;
}

h1, h2, h3, h4 {
  font-family:  'cadson', sans-serif;
  margin: 1.414em 0 0.5em;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 6.854em;
}

h2 {font-size: 4.236em;}
h3 {font-size: 2.618em;}
h4 {font-size: 1.618em;}

small, .font_small {font-size: 0.618em;}

/*
h1, h2, h3, h4, h5, h6 {
  font-family: 'saraban', sans-serif;
  font-weight: bolder;
}

h1 {  font-size: 48px; }
h2 {  font-size: 40px; }
h3 {  font-size: 36px; }
h4 {  font-size: 32px; }
h5 {  font-size: 28px; }
h6 {  font-size: 26px; }

p {
  font-family:    'saraban', sans-serif;
  font-weight:    normal;
  font-size:      20px !important;
  line-height:    26px;
  letter-spacing: 0.4px;
  color:          #121c1e;

  padding:        0;
  margin-top:     10px;
  margin-bottom:  10px;
}

a {
  font-family:  'saraban', sans-serif;
  font-size:    20px;
  font-weight:  bolder;
  text-decoration:  none;
  padding:  0;
  margin:   0;

  -webkit-transition: background-color .4s linear, color .4s linear;
  -moz-transition:    background-color .4s linear, color .4s linear;
  -o-transition:      background-color .4s linear, color .4s linear;
  -ms-transition:     background-color .4s linear, color .4s linear;
  transition:         background-color .4s linear, color .4s linear;
}

a:hover, a:focus {
  text-decoration: none;
  color:#01b2fe;
}


input[type=submit],input[type=text],input[type=email] {
  font-family:  'saraban', sans-serif;
  font-size:    20px;
}
*/

/* Button */

.btn-main {
  color: #ffffff;
  background-color: #2d5e67;
}

.btn-main:hover {
  color: #ffffff;
  background-color: #35d9f9;
}

.btn-theme {
  color: #ffffff;
  background-color: #2d5e67;
  border-color: #384452;
  margin: 4px;
}

.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #ffffff;
  background-color: #35d9f9;
  border-color: #00b3fe;
}

/* BOOTSTRAP OVERRIDE */

.btn {  font-size: 20px;  }
.form-group input[type=email] {  height: 100%;  }


/*********************************************
  @contentbox : Content
**********************************************/

.contentbox-bgwhite {
  background: #ffffff;
  color: #121c1e;
  padding: 100px 0;
}


/* Testimonial, Service */
.contentbox-bginversed {
  background: #212b32;
  padding: 100px 0;
}

.contentbox-bginversed * { color: #ffffff; }

/* Music Collection */
.contentbox-bggrey {
  background: #efefef;
  color: #121c1e;
  text-align: center;
  padding: 60px 0 0 0;
}

  .contentbox-bggrey .contentbox--info{ padding-bottom: 60px; }


.testimonial { background: #212b32; }

  .testimonial h1,.testimonial h2,.testimonial h3,
  .testimonial h4,.testimonial h5,.testimonial h6 {
    font-family: 'cadson', sans-serif;
    font-weight: bolder;
    text-align: center;
  }

  .testimonial p, .testimonial small {
    font-family: 'cadson', sans-serif;
    font-weight: light;
  }

  .testimonial h1, .testimonial h2 { color: #ffffff; }

  .testimonial h3, .testimonial h4,
  .testimonial h5, .testimonial h6 {
    color: #121c1e;
  }


/* @quote: Quote section */

#quote {
  background: #35d9f9;
  padding: 60px 0;
}

  #quote h1,#quote h2,#quote h3,
  #quote h4,#quote h5,#quote h6,
  #quote p, #quote small {
    font-family: 'quark', sans-serif;
    font-weight: bolder;
  }

  #quote p, #quote small { font-weight: light; }

  #quote h1, #quote h2 { color: #ffffff; }
  #quote h3, #quote h4, #quote h5, #quote h6 { color: #121c1e; }





/*********************************************
ORIGINAL THEME OVERRIDE
**********************************************/


/* NAVBAR */

.navbar-default {
  background: #232b32;
  border-bottom-color: #35d9f9;
}

  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #00b3fe;
  }

  .navbar-brand {
    font-family: 'cadson', sans-serif;
    font-weight: 900;
    font-size: 30px !important;
  }

  .navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-weight: bolder;
    font-size: 20px;
  }

  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
      border-color: #35d9f9;
  }





/*********************************************
  FOOTERS - Appears every page
**********************************************/


#footerwrap { background: #121c1e; }
#footerwrap p { color: #ffffff; }





/*********************************************
  @pageheader :Page header meta
    - header for non landing/home page
**********************************************/


#pageheader {
  background: url(../img/theme/blur-bg-menu.jpg) no-repeat top right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: #35d9f9;
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 25px 0;
}

  #pageheader .page-title,
  #pageheader .post-title {
    margin-left: 15px;
  }


/* media queries must defined after default values or it's not working */

@media all and (min-width: 768px) and (max-width: 991px) {
  #pageheader  { margin-top: 100px; }
}

@media all and (max-width: 300px) {
  #pageheader  { margin-top: 100px; }
}





/*********************************************
  Homepage (or Landing page)
**********************************************/

#headerwrap {
  background: url(../img/theme/blur-bg.jpg) no-repeat center top; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  }

  #headerwrap h1, #headerwrap h2, #headerwrap h3,
  #headerwrap h4, #headerwrap h5, #headerwrap h6 {
    color: #35d9f9;
  }

  #headerwrap p { color: #ffffff; }


  .laptop-teaser {
    padding: 0;
    border:15px solid #000;
    border-radius: 15px !important;
  }


/*music collection GRID*/

#musiccollection-container {
  background: #efefef;
  color: #121c1e;
  padding-top: 30px;
}

  #musiccollection-container h3,
  #musiccollection-container p {
    color: #121c1e;
    text-align: center;
  }

/*<sections>*/

#musiccollections { margin-top: 30px; }

#portfoliowrap {
  background: #efefef;
  color: #121c1e;
}

  #portfoliowrap h3 { color: #121c1e; }
  #portfoliowrap p  { color: #121c1e; }


  .musiccollection {
    position: relative;
    overflow: hidden;
    display: inline-block;
    z-index: 0;

    transition: all 1s ease-in-out;
  }

  .musiccollection .musiccollection-text {
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
    .musiccollection:hover .musiccollection-text {
      z-index: 1;
      display: inline;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      line-height: 10;
      text-align: center;
      font-size: 36px;
      color:rgb(37, 93, 118);

      background: #ffffff;
      opacity: .8;
    }

  /* music collection modal*/

  #portfolio-modal-infographics,
  #portfolio-modal-altrock,
  #portfolio-modal-altrock {
    display: none;
  }


/* service icon */

#service i {
  color: #00b3fe;
  font-size: 60px;
  padding: 15px;

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#service i:hover{
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}





/*********************************************
  ABOUTUS
**********************************************/


.about-image{
  display: inline-block;
  overflow: hidden;
  opacity: 1;

  transition: all .2s ease-in-out;

}

.about-image:hover{
  background: #ffffff;
  opacity: .75;
}





/*********************************************
  SERVICES
**********************************************/

/*background: url(../img/t-back2.jpg) no-repeat center top;*/
#customcollection-background {
  background: url(../img/services/customcol.jpg) no-repeat center top;
  background-size: cover;
}
#loopmusic-background {
  background: url(../img/services/loopmusic.jpg) no-repeat center top;
  background-size: cover;
}
#mockupscore-background {
  background: url(../img/services/mockup.jpg) no-repeat center top;
  background-size: cover;
}
#stockmusic-background {
  background: url(../img/services/stock.jpg) no-repeat center top;
  background-size: cover;
}

.services .services_description {
  line-height: 1.4;
  margin-top: 0;
}



/*********************************************
	SHOWCASE
**********************************************/


/* CAROUSEL OVERRIDE */

#showcase-carousel {
  width:    100%;
  height:   500px;
  overflow: hidden;
}

	.carousel-image {
    width:  100%;
    margin: 0 auto;
	}





/*********************************************
  BLOGS & SINGLE BLOGS
**********************************************/

/* SIDE MENU BAR */
aside>div { margin-bottom: 20px; }

.post-meta { color:#ffffff; }
.post-meta a:hover { color:#ffffff; }





/*********************************************
  TAG LISTING PAGE
**********************************************/


.post-by-tag ul li { margin-left: 20px; }