---
layout: default
---
<div id="blue">
  <div class="container">
    <div class="row">
      <header class="post-header">
        <h3 class="post-title">{{ page.title }}</h3>
        <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • By {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} <br/> Tag:{% for tag in page.tags %} <a href="{{ "/tags&#35;" | prepend: site.url | append: tag }}">{{tag}}</a> {% endfor %}</p>
      </header>
    </div>
  </div>
</div>

<div class="post">
  <article class="post-content">
    <div class="container mtb">
      <div class="row">
        <!-- Blog content -->
        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
          {{ content }}
          <p>Tag: 
          
          </p>
          
          <div class="hline"></div>
          <div class="share-post">
            <h4>Share this:</h4>
          </div>
        </div>
        
        <!-- Sidebar -->
        <div class="col-lg-4 col-md-4 col-sm-2 col-xs-12">
          <aside>
            {% include sidebar.html %}
          </aside>
        </div>
      </div>
    </div>
  </article>
</div>
